In [1]:
import pandas as pd 
import numpy as np

In [2]:
uncleaned_data = pd.read_csv('Copy of Corrected_spotify_dataset.csv')

In [3]:
df = pd.DataFrame(uncleaned_data)
df.drop((df.columns[4:124]), axis = 1, inplace = True)
df.drop((df.columns[3]), axis = 1, inplace = True)
df.drop_duplicates()
df = df

In [4]:
df

,user_id,playlist_name,artist_name
0,9cc0cfd4d7d7885102480dd99e7a90d6,HARD ROCK 2010,Elvis Costello
1,9cc0cfd4d7d7885102480dd99e7a90d6,HARD ROCK 2010,Elvis Costello & The Attractions
2,9cc0cfd4d7d7885102480dd99e7a90d6,HARD ROCK 2010,Tiffany Page
3,9cc0cfd4d7d7885102480dd99e7a90d6,HARD ROCK 2010,Lissie
4,9cc0cfd4d7d7885102480dd99e7a90d6,HARD ROCK 2010,Paul McCartney
...,...,...,...
387477,576820c2da503406e16ae9782b3c0e4c,Current Office Playlist - regularly updated,Dr. John
387478,576820c2da503406e16ae9782b3c0e4c,Current Office Playlist - regularly updated,Punch Brothers
387479,576820c2da503406e16ae9782b3c0e4c,Current Office Playlist - regularly updated,Chicago Farmer
387480,576820c2da503406e16ae9782b3c0e4c,Current Office Playlist - regularly updated,Henrik Freischlader
387481,576820c2da503406e16ae9782b3c0e4c,Current Office Playlist - regularly updated,Curtis Harding

In [ ]:
df.to_csv("Cleaned_dataset.csv", index = False)

: